@media all and (min-width: 768px) {
	h1 {
		font-size: 33px;
		padding-bottom: 25px;
	}

	.wrap {
		width: 91%;
	}

	.hero {
		padding: 50px 0 90px 0;

		&__first-screen {
			padding-bottom: 20px;
		}

		.content {
			&__title {
				font-size: 28px;
				line-height: 45px;
				padding-bottom: 25px;
			}

			&__description {
				font-size: 19px;
				padding-top: 25px;
			}

			&__img {
				padding-top: 25px;
			}
		}
	}

	.footer {
		
		&__wrap {
			width: 50%;
		}

		&__title {
			font-size: 48px;
			line-height: 64px;
			text-align: center;
		}

		&__ink {
			font-size: 12px;
			line-height: 20px;
		}
	}
}

@media all and (min-width: 1440px) {
	h1 {
		font-size: 48px;
		line-height: 64px;
		padding-bottom: 45px;
	}

	.wrap {
		width: 81%;
		gap: 90px;
	}

	.header {
		padding: 38px 0 38px 0;
	}

	.hero {
		
		&__first-screen {
			padding-bottom: 0;
		}
	}

	.footer {
		padding: 70px 0 30px 0;

		&__wrap {
			gap: 24px;
		}

		&__body {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

			&__title {
				text-align: left;
			}

			&__contacts {
				text-align: left;
			}

			&__copyright {
				display: flex;
				justify-content: center;
			}
		}
	}
