* {
	margin: 0;
}

.main {
	display: flex;
	align-items: center;
	height: 100vh;

	.hero {
		margin: 0 auto;
	}

	.content {
		display: flex;
		position: relative;
		gap: 80px;

		&__link-front,
		&__link-back {
			display: flex;
			transition: all 2s ease;
			backface-visibility: hidden;
		}

		&__link-front {
			position: relative;
			z-index: 10;
		}

		&__link-back {
			box-sizing: border-box;
			position: absolute;
			top: 0;
			width: 29%;
			height: 414px;
			background-color: #ffffff;
			border: 2px solid #000;
			border-radius: 10px;
			transform: rotateY(180deg);
		}

		&__img-front {
			width: 330px;
			height: 414px;
		}

		&__card:hover .content__link-front {
			transform: rotateY(180deg);
			transition: all 2s ease-in;
		}

		&__card:hover .content__link-back {
			transform: rotateY(180deg);
			transition: all 2s ease-in;
			background-color: #ffffff;
			fill: #ffffff;
		}

		&__card:hover .icons {
			transform: rotateY(360deg);
			transition: all 2s ease-in;
		}
	}
}

.icon__suit {
	top: 72px;
	left: 24px;
	position: relative;
	fill: #b50101;
	width: 32px;
	height: 32px;

	&--bigger {
		width: 64px;
		height: 64px;
	}
}

.icon__senioruty {
	top: 16px;
	left: 18px;
	position: absolute;
	fill: #000;
	width: 45px;
	height: 45px;
}

.icons {
	backface-visibility: hidden;
	position: absolute;
	top: 16px;
	transform: rotateY(180deg);
	transition: all 0.2s ease;
}

.icons--bottom-right {
	top: 292px;
	left: 254px;
}

.icons--center {
	top: 100px;
	left: 116px;
}
