* {
	margin: 0;
}

.main {
	display: flex;
	align-items: center;
	padding: 50px 0 50px 0;
	width: 100%;

	&__body {
		max-width: 50%;
		margin: 0 auto;

		&__content {
			display: flex;
			flex-direction: column;
			gap: 70px;

			&-card {
				&-front, &-back {
					display: flex;
					// align-items: center;
					// justify-content: center;
					// position: absolute;
					// width: 270px;
					// height: 180px;
					transition: all 1s ease;
					backface-visibility: hidden;
					background-color: #2d2525;
				}

				&-back {
					transform: rotateX(180deg);
				}

				&-img {
					width: 100%;
				}
			}
		}
	}
	
    .main__body__content-card:hover .main__body__content-card-front {
		transform: rotateX(180deg);
		transition: all 1s ease-in;
		background-color: #000000;
	}
	.main__body__content-card:hover .main__body__content-card-back {
		transform: rotateY(360deg);
		transition: all 1s ease-in;
		background-color: #000000;
		fill: #ffffff;
	}
}
