.main {
	display: flex;
	align-items: center;
	height: 100vh;

	.content {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin: 0 auto;
		width: 1140px;

		&__card {
			display: flex;
			position: relative;
		}

		&__link-front,
		&__link-back {
			transition: all 0.4s ease-in;
			backface-visibility: hidden;
		}

		&__link-front {
			z-index: 1;
		}

		&__link-back {
			box-sizing: border-box;
			position: absolute;
			width: 100%;
			height: 414px;
			border: 2px solid #000;
			border-radius: 10px;
		}

		&__img-front {
			width: 100%;
			height: 414px;
		}

		&__card:hover .content__link-front {
			transform: rotateY(180deg);
			transition: all 0.4s ease-out;
		}

		&__card:hover .content__link-back {
			transform: rotateY(360deg);
			transition: all 0.4s ease-out;
		}
	}

	.icon__suit {
		top: 70px;
		left: 24px;
		position: absolute;
		fill: #b50101;
		width: 32px;
		height: 32px;

		&--bigger {
			left: 135px;
			top: 175px;
			width: 64px;
			height: 64px;
		}

		&--bottom-right {
			transform: rotate(180deg);
			left: 274px;
			top: 309px;
		}
	}

	.icon__senioruty {
		top: 16px;
		left: 18px;
		position: absolute;
		fill: #000;
		width: 45px;
		height: 45px;

		&--bottom-right {
			transform: rotate(180deg);
			top: 350px;
			left: 267px;
		}
	}
}
