@import url("../assets/fonts/Farro/Farro.css");
@import url("../assets/fonts/FrancoisOne/FrancoisOne.css");
@import url("../assets/fonts/Hind/Hind.css");
@import url("../assets/fonts/PTSans/PTSans.css");
@import url("../assets/fonts/Staatliches/Staatliches.css");
@import url("../assets/fonts/Tourney/Tourney.css");

*{
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 100%; 
  background-color: #EAEAEA;
}
.header__wrap {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  display: inline;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
  word-spacing: 10px;
  font-family: "Staatliches";
  text-transform: uppercase;
}
.menu__item--lang {
  font-family: "Tourney";
  letter-spacing: 0.06em;
  padding-right: 50px;
}
.menu__item--using {
  word-spacing: normal;
}
.menu a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #ff9900;
}
.main {
  display: grid;
  grid-template-columns: repeat(12,70px);
  margin: 0 auto;
  gap: 30px;
  max-width: 1200px;
  color: #000;
  padding: 70px 0 70px;
}
.sidebar {
  display: grid;
  grid-template-rows: repeat(12,70px);
  grid-column: 1 / 5;
  padding-top: 90px;
  font-family: "Francois One";
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.sidebar__wrap {
  display: grid;
  grid-template-rows: repeat(4,58px);
  gap: 70px;
  grid-row: 1 / 8;
  position: sticky;
  top: 106px; 
}
.sidebar__link {
  border-bottom: 1px solid #E6E6E6;
  list-style: none;
}
.content {
  display: grid;
  grid-column: 6 / 13;
}
.background__content {
  position: sticky;
  z-index: -1;
  top: 16px;
}
.img-background {
  position: absolute;
  left: 324px;
  top: 80px;
  z-index: -1;
}
.title {
  height: 76px;
  padding-top: 70px;
}
h2 {
  font-family: "Francois One";
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
}
.number-chapter {
  font-family: "Farro";
  font-size: 18px;
  letter-spacing: 0.04em;
  vertical-align: 24px;
  text-transform: none;
}
.description {
  font-family: "PT Sans";
  font-size: 28px;
  line-height: 48px;
  margin: 0;
  padding-top: 40px;
}
.underline {
  font-family: "Hind";
  height: 38px;
  display: inline-block;
  border-bottom: 1.5px solid #000;
}
.mark {
  background-color: #dadada;
}
