* {
    border-radius: 20px;
    font-family: "Roboto";
}
header {
    padding: 120px 0 80px;
}
h1 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
}
.wrap {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    grid-template-rows: repeat(12, 70px);
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 120px;
}
.subtitle {
    position: relative;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    bottom: 40px;
    left: 20px;
}
.subtitle_date--rectangle {
    position: relative;
    width: 150px;
    font-weight: 400;
    color: #E0E0E0;
    bottom: 60px;
    left: 616px;
}
.subtitle_date--square {
    position: relative;
    width: 150px;
    font-weight: 400;
    color: #E0E0E0;
    bottom: 62px;
    left: 208px;
}
.box-1 {
    display: grid;
}
.box-2 {
    display: grid;
    grid-column: 5;
}
.box-3 {
    display: grid;
    grid-row: 5;
}
.box-4 {
    display: grid;
    grid-area: 5 / 9;
}
.box-5 {
    display: grid;
    grid-row: 9;
}
.box-6 {
    display: grid;
    grid-area: 9 / 5;
}