@import url(../../assets/fonts/lato/lato.css);
@import url(../../assets/fonts/red-hat/red-hat.css);
h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  padding-bottom: 20px;
}

.wrap {
  display: flex;
  flex-direction: column;
  max-width: 94%;
  margin: 0 auto;
  gap: 70px;
}

.header {
  width: 100%;
  padding: 18px 0 18px 0;
}
.header__logo {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.hero {
  width: 100%;
  padding-bottom: 70px;
}
.hero__body__content {
  padding-top: 20px;
}
.hero__body__content-img {
  width: 100%;
}
.hero__body-title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 43px;
  letter-spacing: 0.1em;
  padding-bottom: 20px;
}
.hero__body-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #565656;
  padding-top: 20px;
}

.footer {
  width: 100%;
  background-color: #f4f4f4;
  padding: 50px 0 50px 0;
}
.footer__wrap {
  gap: 40px;
}
.footer__body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__body__cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__body__cta-title {
  font-size: 32px;
  font-weight: 400;
  font-family: "Red Hat Display", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
}
.footer__body__contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.footer__body__links {
  display: flex;
  justify-content: center;
  gap: 23px;
}
.footer__body__links-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
}
.footer__body__links-socials-icon {
  width: 31px;
  height: 24px;
  fill: #565656;
}
.footer__body__links-socials:hover {
  background-color: #565656;
}
.footer__body__links-socials:hover .footer__body__links-socials-icon {
  fill: #fff;
}
.footer__copyright {
  text-align: center;
}
.footer__copyright-ink {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 33px;
    padding-bottom: 25px;
  }
  .wrap {
    width: 91%;
  }
  .hero {
    padding: 50px 0 90px 0;
  }
  .hero__body__first-screen {
    padding-bottom: 20px;
  }
  .hero__body-title {
    font-size: 28px;
    line-height: 45px;
    padding-bottom: 25px;
  }
  .hero__body-description {
    font-size: 19px;
    padding-top: 25px;
  }
  .hero__body__content {
    padding-top: 25px;
  }
  .footer__wrap {
    width: 50%;
  }
  .footer__cta-title {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
  }
  .footer__copyright-ink {
    font-size: 12px;
    line-height: 20px;
  }
}
@media all and (min-width: 1440px) {
  h1 {
    font-size: 48px;
    line-height: 64px;
    padding-bottom: 45px;
  }
  .wrap {
    width: 81%;
  }
  .header {
    padding: 38px 0 38px 0;
  }
  .footer {
    padding: 70px 0 30px 0;
  }
  .footer__wrap {
    gap: 24px;
  }
  .footer__body {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 516px;
  }
  .footer__body__cta-title {
    text-align: left;
  }
  .footer__body__contacts {
    text-align: left;
  }
  .footer__body__copyright {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=style-mobile.css.map */