@font-face {
    font-family: "Red Hat Display";
    src: url("RedHatDisplay-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Red Hat Display";
    src: url("RedHatDisplay-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "Red Hat Display";
    src: url("RedHatDisplay-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: "Red Hat Display";
    src: url("RedHatDisplay-Bold.ttf");
    font-weight: 700;
  }