.wrap {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

#area {
	width: 94%;
	height: 300px;
	resize: none;
}

#sortable {
	display: flex;
	flex-direction: column;
}

.heading-row {
	width: 300px;
	color: #ffebcd;
	background: #008b8b;
	cursor: pointer;
}

.heading-group {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.table-body {
	margin: 0 auto;
}

.table-item {
	display: flex;
	justify-content: center;
	width: 202px;
}

.table-row {
	display: flex;
	gap: 100px;
}
