@use "fonts";

html,
body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #472cf5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullet {
	background-color: transparent;
	border: 1px solid #fff;
	opacity: 1;
	margin: 40px !important;
}

.swiper-pagination-bullet-active {
	background-color: #fff;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 88%;
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	position: absolute;
	z-index: 3;
	top: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	align-items: center;
	height: 80px;
	background-size: 100% 100%;
}

.nav {
	display: flex;
	align-items: center;

	&__list {
		display: flex;
		gap: 70px;
	}

	&__link {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.08em;
		color: #262a3f;
		cursor: pointer;
	}
}

.logo-img {
	// display: block;
	width: 241px;
	height: 52px;
}

.socials-item {
	display: flex;
	gap: 20px;
}

.social-link {
	display: flex;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.social-icon {
	width: 14px;
	height: 18px;
}

.hero {
	background: linear-gradient(
		243.43deg,
		#7e5aff 16.9%,
		#55b7ff 83.27%
	);
	background-size: 100% 100%;
}

.hero-picture {
	opacity: 0.06;
}
