@import url("../assets/fonts/Roboto/Roboto.css");
@import url("../assets/fonts/NunitoSans/NunitoSans.css");

* {
	padding: 0;
	margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}
.header {
  display: flex;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #efeef3;
}
.header__wrap {
  display: flex;
	max-width: 1170px;
	width: 100%;
	padding: 24px 0 24px;
	margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 104px 0 104px 0;
}
.title-hint {
	font-family: "Roboto";
	font-size: 16px;
	line-height: 21px;
	color: #7690a8;
}
h1 {
	font-family: "Nunito Sans";
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.02em;
	color: #16133d;
	padding: 16px 0 40px;
}
.wrap__content {
	display: flex;
	position: relative;
  gap: 30px;
	justify-content: space-between;
	max-width: 1170px;
	margin: 0 auto;
	text-align: center;
}
.card {
	display: flex;
	position: relative;
	width: 370px;
	height: 340px;
	border: 1px solid #e5eaf4;
	border-radius: 16px;
	font-family: "Roboto";
	color: #16133d;
}
.icon {
	display: flex;
	padding: 40px 0 0 40px;
	width: 64px;
	height: 64px;
	margin: 0;
}
.front,
.back {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 64px;
	height: 64px;
	transition: all 0.15s ease;
	backface-visibility: hidden;
	border: 1px solid rgba(21, 101, 216, 0.1);
	border-radius: 16px;
}
.back {
	transform: rotateX(180deg);
}
.card:hover {
	border: 1px solid rgba(61, 179, 112, 0.1);
	transition: all 0.1s ease-in;
}
.card:hover .front {
	border: 1px solid rgba(61, 179, 112, 0.1);
	transition: all 0.1s ease-in;
}
.card:hover .back {
	transform: rotateY(360deg);
	border: 1px solid rgba(61, 179, 112, 0.1);
	transition: all 0.1s ease-in;
}
h2 {
	position: absolute;
	top: 135px;
	left: 40px;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.02em;
}
p {
	position: absolute;
	top: 170px;
	left: 40px;
	text-align: left;
	font-size: 16px;
	line-height: 28px;
}
.card__link {
  position: absolute;
  left: 40px;
  bottom: 40px;
  text-decoration: none;
  color: #3DB370;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
footer {
  display: flex;
  flex-shrink: 0;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
  background-color: #16133D;
}
.footer__wrap {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  flex-shrink: 0;
	max-width: 1170px;
	width: 100%;
	padding: 40px 0 40px;
	margin: 0 auto;
}
.footer__links {
  display: flex;
  gap: 10px;
}
.footer__icon {
  width: 38px;
  height: 38px;
  fill: #0D0D0D;
}
.footer__icon:hover {
	fill: #3DB370;
}
  
