@import url("../assets/fonts/Roboto/Roboto.css");
@import url("../assets/fonts/NunitoSans/NunitoSans.css");

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header, footer {
	display: flex;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #efeef3;
}
.header__wrap, .footer__wrap {
	display: flex;
	max-width: 1170px;
	width: 100%;
	padding: 24px 0 24px;
	margin: 0 auto;
}
.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 104px 0 104px 0;
}
.title__hint {
	font-family: "Roboto";
	font-size: 16px;
	line-height: 21px;
	color: #7690a8;
}
h1 {
	font-family: "Nunito Sans";
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.02em;
	color: #16133d;
	padding: 16px 0 40px;
}
.content__wrap {
	display: flex;
	position: relative;
	gap: 30px;
	justify-content: space-between;
	max-width: 1170px;
	margin: 0 auto;
	text-align: center;
}
.card {
	display: flex;
	position: relative;
	width: 370px;
	height: 340px;
	border: 1px solid #e5eaf4;
	border-radius: 16px;
	font-family: "Roboto";
	color: #16133d;
}
.icons__wrap {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 40px;
	left: 40px;
	width: 64px;
	height: 64px;
	border: 1px solid rgba(21, 101, 216, 0.1);
	border-radius: 16px;
}
.icon__item {
	display: flex;
	align-self: center;
}
.icon__item--hover {
	display: none;
}
.card:hover {
	transition: all 0.1s ease-in;
	border: 1px solid rgba(61, 179, 112, 1);
}
.card:hover .icons__wrap {
	border: 1px solid rgba(61, 179, 112, 0.2)
}
.card:hover .icon__item--hover {
	display: flex;
	position: absolute;
	justify-content: center;
	align-self: center;
}
h2 {
	position: absolute;
	top: 135px;
	left: 40px;
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.02em;
}
p {
	position: absolute;
	top: 170px;
	left: 40px;
	margin: 0;
	text-align: left;
	font-size: 16px;
	line-height: 28px;
}
.card__link {
	position: absolute;
	left: 40px;
	bottom: 40px;
	text-decoration: none;
	color: #3db370;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
}
footer {
	background-color: #16133d;
	border: none;
}
.footer__wrap {
	flex-direction: column-reverse;
	gap: 32px;
	padding: 40px 0 40px;
}
.footer__links {
	display: flex;
	gap: 10px;
}
.footer__socials {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFEEF3;
	width: 40px;
	height: 40px;
	border-radius: 5px;
}
.icon__socials {
	width: 20px;
	height: 20px;
	fill: #0d0d0d;
}
.footer__socials:hover .icon__socials {
	fill: #3db370;
}
