* {
  padding: 0;
  /* text-align: center; */
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #000;
  width: 970px;
  margin-bottom: 24px;
}
.menu li {
  display: inline-block;
  padding: 16px;
}
a:hover {
  color: #1a2160;
}
.menu__item {
  display: inline-block;
  text-decoration: none;
  color: #070707;
  font-size: 18px;
  letter-spacing: .02em;
  line-height: 25px;
}
.menu__item--gray {
  color: #828282;
}
.hero {
  height: 455px;
  width: 970px;
  /* display: inline-block; */
  text-align: left;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  padding-bottom: 50px;
  text-align: left;
}
h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
}
.wrapper {
  /* display: inline-block; */
  /* text-align: center; */
  width: 1440px;
}
.aboutme {
  background-color: #f6f6f6;
  /* text-align: center; */
  padding-bottom: 70px;
}
section > h2 {
  padding: 100px 0 50px 0;
  text-align: center;
}
.aboutme p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 30px;
  text-align: center;

}
.skills {
  padding-bottom: 100px;
}
.skills p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.skills figure {
  display: inline-block;
  padding: 50px 64px 0 64px;
}
.skills figcaption {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2%;
  color: #828282;
  padding: 24px 0 24px 0;
}
.portfolio {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
  .link {
  text-decoration: none;
  /* width: max-content;
  height: max-content; */
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #070707;
}
.portfolio a {
  text-decoration: none;
  color: #070707;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.sendbtn {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  width: 164px;
  height: 44px;
  opacity: 0.9;
  margin: 60px 0 30px 0;
  width: 180px;
  height: 44px;
  padding: 0 16px 0 16px;
}
footer > h2 {
  padding: 100px 0 20px 0;
}
.navigation a {
  margin: 0 auto;
  padding: 0 32px 0 32px;
  display: inline-block;
}
.navigation p {
  margin-top: 48px;
  padding-bottom: 100px;
  font-size: 14px;
  font-weight: 400;
  color: #828282;
  line-height: 19px;
}
