@media all and (max-width: 1199px) {
	h1 {
		font-size: 32px;
		line-height: 40px;
		padding-bottom: 24px;
	}

	.authorization__btn {
		gap: 24px;
	}

	.header {

		&__wrap {
			justify-content: space-around;
		}

		&__menu {
			gap: 32px;
		}
	}

	.btn {
		width: 140px;
		padding: 0;

		&--size-m {
			width: 340px;
		}
	}

	.hero {
		&__wrap {
			gap: 60px;
			justify-content: center;
		}

		&__picture {
			width: 438px;
		}

		&__heading {
			width: 38%;
		}

		&__heading p {
			font-size: 18px;
			padding-bottom: 24px;
		}
	}

	.features {
		&__wrap {
			width: 64%;
			margin: 0 auto;
			padding-bottom: 72px;
		}

		&__heading-section {
			font-size: 29px;
			line-height: 36px;
			padding-bottom: 48px;
		}
	}

	.card {
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 80px;
		padding-bottom: 16px;

		&__item_icon {
			width: 40px;
			height: 40px;
		}

		&__head-text {
			font-size: 18px;
			padding-top: 16px;
		}

		&__note-text {
			padding: 8px 0 32px;
		}
	}

	.footer {
		&__wrap {
			column-gap: 188px;
			row-gap: 64px;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__menu {
			column-gap: 96px;
		}
	}
}

@media all and (max-width: 1023px) {
	h1 {
		font-size: 27px;
		line-height: 32px;
		padding-bottom: 24px;
	}

	.header {
		&__wrap {
			flex-direction: column;
			gap: 24px;
		}
	}

	.btn {
		&--size-m {
			width: 320px;
			padding: 0;
		}
	}

	.hero {
		&__wrap {
			justify-content: center;
			gap: 40px;
		}

		&__picture {
			width: 320px;
		}

		&__heading {
			width: 324px;
		}

		&__heading p {
			font-size: 16px;
			padding-bottom: 24px;
		}
	}

	.features {
		&__wrap {
			width: 79%;
			padding-bottom: 72px;
		}

		&__heading-section {
			font-size: 24px;
			line-height: 32px;
			padding-bottom: 48px;
		}
	}

	.card {
		flex-wrap: wrap;
		padding-bottom: 16px;
		justify-content: center;
		column-gap: 64px;

		&__item_icon {
			width: 40px;
			height: 40px;
		}

		&__head-text {
			font-size: 18px;
			padding-top: 16px;
		}

		&__note-text {
			padding: 8px 0 32px;
		}
	}

	.footer {
		padding-top: 56px;

		&__wrap {
			flex-direction: column-reverse;
			align-items: center;
			gap: 40px;
		}

		&__menu {
			gap: 76px;
		}

		&__form {
			text-align: center;

			&_input {
				box-sizing: border-box;
				width: 320px;
			}
		}
	}
}

@media all and (max-width: 767px) {
	h1 {
		font-size: 25px;
		line-height: 32px;
	}

	.header {
		padding: 32px 0 56px;

		&__wrap {
			flex-direction: column;
			gap: 24px;
		}

		&__menu {
			gap: 20px;
		}

		&__menu a {
			font-size: 14px;
		}
	}

	.authorization__btn {
		gap: 32px;
		margin: 0 auto;
	}

	.btn {
		width: 144px;

		&--size-m {
			width: 320px;
			padding: 0;
		}
	}

	.hero {
		padding-bottom: 56px;

		&__wrap {
			flex-direction: column;
			max-width: 320px;
			gap: 56px;
		}

		&__picture {
			margin: 0;
		}

		&__heading {
			padding: 0;
		}

		&__heading p {
			font-size: 16px;
		}
	}

	.features {
		margin: 0;
		background: none;

		&__wrap {
			max-width: 320px;
			width: 100%;
			padding: 0;
		}

		&__heading-section {
			font-size: 22px;
			line-height: 28px;
			padding-bottom: 40px;
		}
	}

	.card {
		flex-wrap: wrap;
		justify-content: space-between;

		&__item_icon {
			width: 40px;
			height: 40px;
		}

		&__head-text {
			font-size: 18px;
			padding-top: 16px;
		}

		&__note-text {
			font-size: 16px;
			padding: 8px 0 32px;
		}
	}

	.footer {
		padding: 0;

		&__wrap {
			flex-direction: column-reverse;
			align-items: center;
			gap: 40px;
			padding: 56px 0 72px;
		}

		&__menu {
			gap: 80px;

			&_heading {
				font-size: 18px;
			}
		}

		&__form {
			text-align: left;
		}
	}
}
