.content {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	gap: 32px;
}
.card__item {
	display: flex;
	position: relative;
	width: 270px;
	height: 270px;
	font-family: "Roboto";
	color: #16133d;
	margin-top: 148px;
}
.card__item__title {
	font-family: "Roboto";
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	color: #0d1041;
}
.card__item__socials {
	display: none;
	justify-content: center;
	position: absolute;
	align-items: center;
	gap: 8px;
	top: 0;
	left: 0;
	width: 270px;
	height: 270px;
	background-color: #18b5dc;
}
.card__item:hover .card__item__socials {
	display: flex;
}
.social__link {
	display: flex;
	flex-direction: row;
	width: 42px;
	height: 42px;
	justify-content: center;
	align-items: center;
	background-color: #5DCBE6;
}
.social__icon {
	width: 20px;
	height: 20px;
	fill: #fff;
}
.social__link:hover {
	background-color: #fff;
}
.social__link:hover .social__icon {
	fill: #18B5DC;
}